{
  "extends": "airbnb",
   "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies" : [ 0 ],
    "padded-blocks": [ 0 ],
    "comma-dangle": [ 0 ],
    "react/prop-types": [ 1, { ignore: [ "dispatch" ] } ],
    "react/jsx-filename-extension": [ 0 ],
    "key-spacing": [ 1 ],
     "react/no-array-index-key": [ 1 ],
     "jsx-a11y/no-static-element-interactions": [ 0 ]
  },
  "plugins": [
    "jsx-a11y"
  ]
}